<configuration debug="true">

	<!-- Variable fecha -->
	<timestamp key="logDateVar" datePattern="dd-MM-yyyy" />

	<!-- Rolling File Appender -->
	<appender name="TuberiaLogback"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<!-- Nombre del fichero que genera la tubería -->
		<file>Log-PDFGenerator-${logDateVar}.log</file>

		<!-- Política para dividir el log en varios archivos -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>Log-PDFGenerator-${logDateVar}.%i.zip
			</fileNamePattern>

			<!-- Cantidad de ficheros -->
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<!-- Tamaño de los ficheros -->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50KB</maxFileSize>
		</triggeringPolicy>

		<!-- Patrón de log -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%method] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Logger ROOT -->
	<root level="debug">
		<appender-ref ref="TuberiaLogback" />
	</root>

</configuration>